.join {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 150px;
}

.join .join-wrap {
  width: 1280px;
  margin: 0 auto;
}

.join .join-title {
  border-bottom: 2px solid rgb(51, 51, 51);
  /* margin: 0 auto; */
  padding-bottom: 10px;
}

.join .join-title h1 {
  margin-top: 20px;
  line-height: 1.3;
  letter-spacing: -1px;
  font-size: 1.5rem;
  font-weight: bold;
}

/* contents */
.join .success-contents {
  padding-top: 20px;
}

.join .success-contents .contents-inner {
  max-width: 100%;
  padding-bottom: 50px;
}

/*  --> process */
.join .success-contents .contents-inner .process {
  display: table;
  width: 100%;
  margin-top: 0;
}

.join .success-contents .contents-inner .process li {
  display: table-cell;
  position: relative;
  width: 20%;
  height: 66px;
  padding-left: 60px;
  background: rgb(238, 238, 238);
  color: rgb(66, 66, 66);
  vertical-align: middle;
}

.join .success-contents .contents-inner .process li:not(.last)::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 17px;
  height: 66px;
  background: url(https://www.gov.kr/2017/img/page/step_after.gif) 0px 0px no-repeat;
}

.join .success-contents .contents-inner .process li.current {
  background: #034273;
  color: #fff;
}

.join .success-contents .contents-inner .process li.current:not(.first)::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0px;
  left: -17px;
  width: 17px;
  height: 66px;
  background: url(https://www.gov.kr/2017/img/page/step_before_on.gif) 0px 0px no-repeat;
}

.join .success-contents .contents-inner .process li.current:not(.last)::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 66px;
  background: url(https://www.gov.kr/2017/img/page/step_after_on.gif) no-repeat 0 0;
}

.join .success-contents .contents-inner .process li .num {
  font-weight: bold;
  font-size: 24px;
  /* font-size: 2.4rem; */
  position: absolute;
  top: 18px;
  left: 17px;
}

.join .success-contents .contents-inner .process li .process-text {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;

}

/* //--- process */

.join .success-contents .contents-inner .success-wrap {
  width: 100%;
  margin-top: 15px;
  padding: 70px;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
}

.join .success-contents .contents-inner .success-wrap .success-img img {
  /* width: 150px; */
  height: 150px;
  padding-right: 20px;
}

.join .success-contents .contents-inner .success-wrap .success-text .text-title {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0 20px;
  letter-spacing: -1px;
}

.join .success-contents .contents-inner .success-wrap .success-text .id-wrap span {
  display: inline-block;
  border: 2px solid rgb(11, 38, 110);
  padding: 15px;
  font-weight: bold;
  letter-spacing: -1px;
  color: rgb(11, 38, 110);
}

.join .success-contents .contents-inner .success-wrap .success-text .text-info {
  font-size: 15px;
  font-weight: bold;
  padding: 15px 0 0;
  letter-spacing: -1px;
}

/* btn */
.join .success-contents .btnbox {
  text-align: center;
  margin-top: 40px;
}

.join .success-contents .btnbox .btnfb7 {
  background-color: rgb(11, 38, 110);
  color: #FFF;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  padding: 0 25px;
  vertical-align: middle;
  font-family: "ngB" !important;
}

.join .success-contents .btnbox02 a {
  box-sizing: border-box;
}

.join .complete {
  border: none;
  color: rgb(11, 38, 110);
}

.join .completeMsg {
  margin-top: 20px;
  color: black;
}

.join .btnbox .completeBtn {
  width: 250px;
}

.join .completeIcon {
  border: 10px solid rgb(11, 38, 110);
  padding: 70px 0;
}

.join .success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid rgb(11, 38, 110);

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: '';
      height: 100px;
      position: absolute;
      background: #FFFFFF;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: rgb(11, 38, 110);
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(11, 38, 110, .5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #FFFFFF;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }

  5% {
    transform: rotate(-45deg);
  }

  12% {
    transform: rotate(-405deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }

  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }

  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }

  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}